@model Proje_Web.Models.Antrenor

@{
    ViewData["Title"] = "Delete_an";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>Delete_an</h1>

<h3>Silmek istermisin?</h3>
<div>
    <h4>Antrenor</h4>
    <hr />
    <dl class="row">
        @* Buradaki her <dt> etiketinin sonuna : ekledim *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isim) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isim)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uzmanlik_alani) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uzmanlik_alani)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hizmet_turleri) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hizmet_turleri)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.musaitlik_saatleri) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.musaitlik_saatleri)
        </dd>
    </dl>

    <form asp-action="Delete_an" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="d-grid gap-2 d-md-block">
            @* Buradaki çift asp-action kullanımı hata verebilir, sadece "antenor" olanı bıraktım *@
            <a asp-action="antenor" class="btn btn-outline-secondary px-4 me-md-2">
                <i class="bi bi-x-circle"></i> Vazgeç
            </a>
            <button type="submit" class="btn btn-danger px-4">
                <i class="bi bi-trash"></i> Evet, Sil
            </button>
        </div>
    </form>
</div>